<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" @submit.prevent="$emit('gotostep', 2)">
				<div class="login__field">
					<label for="email">Email</label>
					<input 
					id="email"
					type="email" 
					class="login__input" 
					placeholder="Email" 
                    :value="email"
                    @input="event => $emit('setInputEmail', event.target.value)"
                    >
				</div>
				<div class="login__field">
					<label for="password">Password</label>
					<input 
					id="password"
					type="password" 
					class="login__input" 
					placeholder="Password" 
                    :value="password"
                    @input="event => $emit('setInputPassword', event.target.value)"
                    >
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Next</span>
				</button>				
			</form>
		</div>	
	</div>
</div>